.python_path
.venv/
venv/
__pycache__/
*.pyc
.DS_Store

.tmp/
.browser_profile/
history.json

output/html/
output/tmp/
output/cache/
output/json/
output/tmp_images/
output/package/*.zip
output/package/**/.DS_Store
